*{
    box-sizing: border-box;
}

.v-header{
    height:100vh; 
    display:flex;
    align-items:center
}

.container{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
}

.fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow: hidden;
}
